:root {
  --primary-dark-color: rgb(0, 0, 0);
  --stop-text-color: rgb(255, 71, 64);
  --stop-button-color: rgb(52, 13, 14);
  --stop-clicked-color: rgb(28, 7, 6);
  --start-text-color: rgb(103, 203, 103);
  --start-button-color: rgb(19, 41, 20);
  --start-clicked-color: rgb(5, 23, 10);
  --lap-inactive-text-color: rgb(152, 152, 159);
  --lap-inactive-button-color: rgb(28, 28, 30);
  --lap-active-text-color: rgb(255, 255, 255);
  --lap-active-button-color: rgb(51, 51, 51);
  --lap-clicked-button-color: rgb(27, 27, 27);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
}

@font-face {
  font-family: "SF-Pro";
  src: url(./assets/fonts/SF-Pro-Display-Ultralight.otf);
}

@font-face {
  font-family: "SF-Pro-Regular";
  src: url(./assets/fonts/SF-Pro-Text-Regular.otf);
}

.App {
  width: 375px;
  height: 667px;
  margin: 0 auto;

  color: var(--lap-active-text-color);
  text-align: center;
  background-color: var(--primary-dark-color);
  font-variant-numeric: tabular-nums;
}

button.start {
  width: 60px;
  height: 60px;
  margin: 50px 0 10px 100px;
  border-radius: 50%;
  background-clip: padding-box;
  color: var(--start-text-color);
  border: 4px double var(--start-button-color);
  background-color: var(--start-button-color);
}

button.stop {
  /* display: none; */
  width: 60px;
  height: 60px;
  margin: 50px 0 10px 100px;
  border-radius: 50%;
  background-clip: padding-box;
  color: var(--stop-text-color);
  border: 4px double var(--stop-button-color);
  background-color: var(--stop-button-color);
}

button.lap {
  width: 60px;
  height: 60px;
  margin: 50px 100px 10px 0;
  border-radius: 50%;
  background-clip: padding-box;
  color: var(--lap-inactive-text-color);
  border: 4px double var(--lap-inactive-button-color);
  background-color: var(--lap-inactive-button-color);
}

button.reset {
  width: 60px;
  height: 60px;
  margin: 50px 100px 10px 0;
  border-radius: 50%;
  background-clip: padding-box;
  color: var(--lap-active-text-color);
  border: 4px double var(--lap-active-button-color);
  background-color: var(--lap-active-button-color);
}

div.top {
  font-size: 8em;
}
div.digits > p {
  padding: 150px 0 0 0;
  margin-bottom: 25px;
  font-family: "SF-Pro";
}

div.bottom {
  width: 370px;
  height: 266px;
  overflow: hidden auto;
  font-size: 1.3em;
}

.bottom::-webkit-scrollbar {
  width: 3px;
}

.bottom::-webkit-scrollbar-thumb {
  background-color: var(--lap-inactive-text-color);
  border-radius: 15px;
}

.bottom::-webkit-scrollbar-track {
  background: transparent;
}

table {
  width: 375px;
  font-family: "SF-Pro-Regular";
  font-size: 1.3em;
  font-variant-numeric: tabular-nums;
  border-collapse: collapse;
}

tbody {
  margin: 0 auto;
  display: table;
  width: 90%;
  padding-top: 10px;
}

tr {
  border-top: 1px solid var(--lap-active-button-color);
}

td:first-child {
  text-align: left;
}

td:last-child {
  text-align: right;
}

td,
th {
  height: 20px;
  padding: 10px 10px;
}

.min {
  color: var(--start-text-color);
}

.max {
  color: var(--stop-text-color);
}
